
@{
    ViewBag.Title = "Haqqimizda";
    Layout = "~/Views/Shared/_LayoutCategory.cshtml";
}

<div style="overflow-x:hidden;" class="container">
    <div  class="col-lg-12 col-md-10 col-sm-10">
        <h2 style="letter-spacing:3px; font-weight:800; color:darkred;">Haqqimizda</h2>
        <p style="letter-spacing:1px; line-height:1.6em;">
            Sonsuzbilgi , elm,texnologiya,təhsil,ədəbiyyat,tarix,incəsənət keçmiş və gələcək ilə maraq
            edilən və bilinməyən doğruları ən xırda detallarına qədər araşdıran və sonda hərkəsin
            anlaya biləcəyi tərzdə qaynağa çevirən platformadır.Dünyanı başa düşmək ,özünü başa düşməkdir.
        </p>
    </div>
</div>

