
@{
    ViewBag.Title = "Qaydalar";
    Layout = "~/Views/Shared/_LayoutCategory.cshtml";
}


<div class="col-lg-12">
    <div class="container">
        <div class="qayda">
            <h4 style="color:darkred; font-family:Verdana, Geneva, Tahoma, sans-serif">Qaydalar və hüquqlar</h4>

            <p style="letter-spacing:1px; line-height:2em; font-weight:500;text-align:justify;font-family:Verdana, Geneva, Tahoma, sans-serif ">
                Sonsuz bilgi tərəfindən yazılmış , tərcümə edilmiş , yazılan məzmunların aşağıdakı qaydalara riayət etmək şərti
                ilə, müəlliflərdən və platformadan icazə almadan paylaşa bilər, kopyalaya bilər, yapıştırıla bilər,çoxaldıla bilər
                ,nəşr edilə bilər, yayıla bilər. Ancaq bu məzmunların heç biri icazə alınmadan dəyiştirilə bilməz və dəyiştirilmiş
                halları Sonsuz bilgiyə aidmiş kimi təqdim edilə bilməz. Eyni şəkildə , yazılarımızın heç biri başqasına aidmiş kimi
                təqdim edilə bilməz.
            </p>


            <h4 style="color:darkred; font-family:Verdana, Geneva, Tahoma, sans-serif">Xidmətlərimizdən aşağıdakı hallarda istifadə edə bilməzsiniz:</h4><br /> <br />
            <ul style="letter-spacing:1px; line-height:2em; font-weight:500;text-align:justify; font-family:Verdana, Geneva, Tahoma, sans-serif">
                <li> Başqalarını təhdid etmək, alçaltmaq, böhtan atmaq, şərləmək, sui-istifadə etmək və ya digər şəxslərin hüququnu pozmaq.</li>
                <li>
                    Vulqar, alçaldıcı, səhv, qanunsuz, cinsi ayrı-seçkilik edən, irqçi, irqçi nifrətiç din , din nifrəti  və ya
                    terrorizmi təbliğ edən hər hansı saytdan bizim sayta bağlantı yönəltmək
                </li>
                <li>
                    Saytın xidmətlərindən öz rəsmi loqolarından başqa bütün loqolarda bağlantı olaraq göstərmək və ya Sonsuzbilgi
                    tərəfdaşları ilə üçüncü tərəflər arasında saxta əlaqələr təklif etmək
                </li>
                <li>
                    Hər hansı şəxsin və ya fərdin qanuni hüquqlarını pozma (əqli mülkiyyət, məxfilik və ictimai hüquqlar daxil
                    olmaqla) və ya bu istiqamətdə məlumatlar ötürmək, əqli mülkiyyət hüquqlarını və digər qanuni bildirişləri silmək və ya dəyişdirmək
                </li>
                <li>Virus, casus proqramlar və digər zərərli kodları olan faylları ötürmək</li>
                <li>
                    Bu istifadəçilərin və Sonsuzbilgi-nin razılığı olmadan digər istifadəçilər haqqında şəxsiyyəti təyin edən
                    məlumatları ötürmək, toplamaq və ya əldə etmək
                </li>
            </ul>
        </div>
    </div>
</div>

   





    

   

    

   

